.btn {
  margin-bottom: 30px;
}

.Definition {
  display: none;
  background-color: #c4d4ed;
}

h1 {
  text-align: center;
}

.Term {
  text-align: center;
  font-weight: bold;
  padding-right: 15px;
  padding-top: 50px;
  font-size: 20px;
}

.col-md-3 {
  padding-left: 0px;
  padding-right: 0px;
  height: 220px;
}

.Term, .Definition {
  cursor: crosshair;
}

ul {
  margin-left: 25px;
}

ul, p.Definition {
  margin-top: 20px;
}

.border {
  border: solid black 3px;
  margin-right: 10px;
  height: 200px;
  border-radius: 5%;
}

p {
  padding: 20px;
}
