.btn {
  margin-bottom: 30px;
}

.Definition {
  display: none;
  padding-bottom: 60px;
}

h1 {
  text-align: center;
}

.Term {
  text-align: center;
  font-weight: bold;
  padding-top: 80px;
  padding-bottom: 60px;
  font-size: 20px;
}

.col-md-3 {
  padding-left: 0px;
  padding-right: 0px;
  height: 200px;
}

.flashcard-color {
  background-color: #c4d4ed;
}

.Term, .Definition {
  cursor: crosshair;
}

ul {
  margin-left: 25px;
}

ul, p.Definition {
  margin-top: 20px;
}
